In [1]:
from sklearn import tree
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(os.path.join("nba.games.stats.model.one_CP08Feb21.csv"))
df

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17
...,...,...,...,...,...,...,...,...,...,...,...,...
19678,79119,115,0.500,0.429,0.857,12,41,34,8,7,15,23
19679,80119,97,0.402,0.360,0.783,9,45,18,8,4,12,15
19680,81124,113,0.494,0.500,0.800,10,51,32,8,3,20,24
19681,82119,92,0.347,0.294,0.593,18,50,17,5,1,12,25
19682,>>>>>>> 45e3de507a0ae0746980d98b0cc54a9b7e43d36b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.dtypes

Team_Number_Id    object
TeamPoints        object
FieldGoals        object
X3PointShots      object
FreeThrows        object
OffRebounds       object
TotalRebounds     object
Assists           object
Steals            object
Blocks            object
Turnovers         object
TotalFouls        object
dtype: object

In [4]:
df = df.dropna()
df

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17
...,...,...,...,...,...,...,...,...,...,...,...,...
19677,78119,104,0.528,0.480,0.696,3,36,25,6,1,17,21
19678,79119,115,0.500,0.429,0.857,12,41,34,8,7,15,23
19679,80119,97,0.402,0.360,0.783,9,45,18,8,4,12,15
19680,81124,113,0.494,0.500,0.800,10,51,32,8,3,20,24
19681,82119,92,0.347,0.294,0.593,18,50,17,5,1,12,25

In [5]:
# Change dtypes
TeamPoints = df['TeamPoints'].astype(str).astype(int)
FieldGoals = df['FieldGoals'].astype(str).astype(float)
X3PointShots = df['X3PointShots'].astype(str).astype(float)
FreeThrows = df['FreeThrows'].astype(str).astype(float)
OffRebounds = df['OffRebounds'].astype(str).astype(int)
TotalRebounds = df['TotalRebounds'].astype(str).astype(int)
Assists = df['Assists'].astype(str).astype(int)
Steals = df['Steals'].astype(str).astype(int)
Blocks = df['Blocks'].astype(str).astype(int)
Turnovers = df['Turnovers'].astype(str).astype(int)
TotalFouls = df['TotalFouls'].astype(str).astype(int)

In [6]:
new_df = pd.DataFrame({
    "Team_Number_Id": df["Team_Number_Id"],
    "TeamPoints": TeamPoints,
    "FieldGoals": FieldGoals,
    "X3PointShots": X3PointShots,
    "FreeThrows": FreeThrows,
    "OffRebounds": OffRebounds,
    "TotalRebounds": TotalRebounds,
    "Assists": Assists,
    "Steals": Steals,
    "Blocks": Blocks,
    "Turnovers": Turnovers,
    "TotalFouls": TotalFouls
})

In [7]:
new_df

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,103,0.407,0.409,0.778,12,41,18,10,5,8,17
...,...,...,...,...,...,...,...,...,...,...,...,...
19677,78119,104,0.528,0.480,0.696,3,36,25,6,1,17,21
19678,79119,115,0.500,0.429,0.857,12,41,34,8,7,15,23
19679,80119,97,0.402,0.360,0.783,9,45,18,8,4,12,15
19680,81124,113,0.494,0.500,0.800,10,51,32,8,3,20,24
19681,82119,92,0.347,0.294,0.593,18,50,17,5,1,12,25

In [8]:
new_df.dtypes

Team_Number_Id     object
TeamPoints          int32
FieldGoals        float64
X3PointShots      float64
FreeThrows        float64
OffRebounds         int32
TotalRebounds       int32
Assists             int32
Steals              int32
Blocks              int32
Turnovers           int32
TotalFouls          int32
dtype: object