In [1]:
import pandas as pd
import csv
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow

file = 'nba.games.stats.model.one_CP08Feb21.csv'

tensorflow.keras.__version__

'2.2.4-tf'

In [2]:
df = pd.read_csv(file, encoding='utf-8')
df.head()

,Team_Number_Id,Team,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,ATL,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,ATL,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,ATL,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,ATL,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,ATL,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [3]:
dataframe = pd.DataFrame(df)
dataframe.head()

,Team_Number_Id,Team,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,ATL,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,ATL,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,ATL,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,ATL,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,ATL,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [4]:
dataframe.columns

Index(['Team_Number_Id', 'Team', 'TeamPoints', 'FieldGoals', 'X3PointShots',
       'FreeThrows', 'OffRebounds', 'TotalRebounds', 'Assists', 'Steals',
       'Blocks', 'Turnovers', 'TotalFouls'],
      dtype='object')

In [5]:
dataframe = dataframe.dropna()
dataframe.head(10)

,Team_Number_Id,Team,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,ATL,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,ATL,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,ATL,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,ATL,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,ATL,103,0.407,0.409,0.778,12,41,18,10,5,8,17
5,1,ATL,91,0.380,0.370,0.964,9,38,20,7,3,15,16
6,1,ATL,100,0.513,0.450,0.722,13,46,23,8,4,18,12
7,1,ATL,114,0.560,0.393,0.826,3,36,33,10,5,13,20
8,1,ATL,94,0.444,0.136,0.846,11,37,26,6,8,18,12
9,1,ATL,109,0.482,0.333,0.783,13,38,22,7,3,10,17

In [6]:
dataframe.dtypes

Team_Number_Id      int64
Team               object
TeamPoints          int64
FieldGoals        float64
X3PointShots      float64
FreeThrows        float64
OffRebounds         int64
TotalRebounds       int64
Assists             int64
Steals              int64
Blocks              int64
Turnovers           int64
TotalFouls          int64
dtype: object

In [12]:
# Change dtypes
Team_Number_Id = dataframe['Team_Number_Id'].astype(int).astype(str)
TeamPoints =  dataframe['TeamPoints'].astype(str).astype(int)
FieldGoals = dataframe['FieldGoals'].astype(str).astype(float)
X3PointShots = dataframe['X3PointShots'].astype(str).astype(float)
FreeThrows = dataframe['FreeThrows'].astype(str).astype(float)
OffRebounds = dataframe['OffRebounds'].astype(str).astype(int)
TotalRebounds = dataframe['TotalRebounds'].astype(str).astype(int)
Assists = dataframe['Assists'].astype(str).astype(int)
Steals = dataframe['Steals'].astype(str).astype(int)
Blocks = dataframe['Blocks'].astype(str).astype(int)
Turnovers = dataframe['Turnovers'].astype(str).astype(int)
TotalFouls = dataframe['TotalFouls'].astype(str).astype(int)

In [13]:
new_df = pd.DataFrame({
    "Team_Number_Id": df["Team_Number_Id"],
    "TeamPoints": TeamPoints,
    "FieldGoals": FieldGoals,
    "X3PointShots": X3PointShots,
    "FreeThrows": FreeThrows,
    "OffRebounds": OffRebounds,
    "TotalRebounds": TotalRebounds,
    "Assists": Assists,
    "Steals": Steals,
    "Blocks": Blocks,
    "Turnovers": Turnovers,
    "TotalFouls": TotalFouls
})

In [14]:
new_df.dtypes

Team_Number_Id      int64
TeamPoints          int32
FieldGoals        float64
X3PointShots      float64
FreeThrows        float64
OffRebounds         int32
TotalRebounds       int32
Assists             int32
Steals              int32
Blocks              int32
Turnovers           int32
TotalFouls          int32
dtype: object

In [15]:
new_df.tail(10)

,Team_Number_Id,TeamPoints,FieldGoals,X3PointShots,FreeThrows,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
19670,30,97,0.425,0.316,0.739,14,46,25,10,7,14,16
19671,30,116,0.541,0.417,0.778,10,50,33,5,7,16,27
19672,30,92,0.416,0.188,0.800,12,43,28,9,6,15,19
19673,30,107,0.455,0.462,0.750,11,44,30,11,4,12,23
19674,30,94,0.457,0.267,1.000,6,37,27,5,4,16,12
19675,30,104,0.528,0.480,0.696,3,36,25,6,1,17,21
19676,30,115,0.500,0.429,0.857,12,41,34,8,7,15,23
19677,30,97,0.402,0.360,0.783,9,45,18,8,4,12,15
19678,30,113,0.494,0.500,0.800,10,51,32,8,3,20,24
19679,30,92,0.347,0.294,0.593,18,50,17,5,1,12,25

In [16]:
import sklearn
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
model = LinearRegression()

X = new_df.values[:, 0]
y = new_df.values[:,1:11]

y = y.reshape(1, -1)
X = X.reshape(1, -1)

print(X.shape, y.shape)

(1, 19680) (1, 196800)

In [17]:
model.fit(X,y)

MemoryError: Unable to allocate 28.9 GiB for an array with shape (19680, 196800) and data type float64