In [1]:
import pandas as pd
import csv
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow

file = 'nba.games.stats.model.one_CP08Feb21.csv'

tensorflow.keras.__version__

'2.2.4-tf'

In [2]:
df = pd.read_csv(file, encoding='utf-8')
df.head()

,Team_Number_Id,Team,TeamPoints,FieldGoals.,X3PointShots.,FreeThrows.,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,ATL,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,ATL,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,ATL,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,ATL,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,ATL,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [3]:
dataframe = pd.DataFrame(df)
dataframe.head()

,Team_Number_Id,Team,TeamPoints,FieldGoals.,X3PointShots.,FreeThrows.,OffRebounds,TotalRebounds,Assists,Steals,Blocks,Turnovers,TotalFouls
0,1,ATL,102,0.500,0.591,0.529,10,42,26,6,8,17,24
1,1,ATL,102,0.507,0.350,0.758,3,37,26,10,6,12,20
2,1,ATL,92,0.413,0.320,0.727,10,37,26,14,5,13,25
3,1,ATL,119,0.462,0.394,0.769,7,38,28,8,3,19,33
4,1,ATL,103,0.407,0.409,0.778,12,41,18,10,5,8,17

In [4]:
dataframe.columns

Index(['Team_Number_Id', 'Team', 'TeamPoints', 'FieldGoals.', 'X3PointShots.',
       'FreeThrows.', 'OffRebounds', 'TotalRebounds', 'Assists', 'Steals',
       'Blocks', 'Turnovers', 'TotalFouls'],
      dtype='object')

In [ ]:
dataframe = dataframe.dropna()
dataframe.head(10)

In [ ]:
dataframe.dtypes

In [ ]:
# Change dtypes
TeamPoints =  dataframe['TeamPoints'].astype(str).astype(int)
FieldGoals = dataframe['FieldGoals'].astype(str).astype(float)
X3PointShots = dataframe['X3PointShots'].astype(str).astype(float)
FreeThrows = dataframe['FreeThrows'].astype(str).astype(float)
OffRebounds = dataframe['OffRebounds'].astype(str).astype(int)
TotalRebounds = dataframe['TotalRebounds'].astype(str).astype(int)
Assists = dataframe['Assists'].astype(str).astype(int)
Steals = dataframe['Steals'].astype(str).astype(int)
Blocks = dataframe['Blocks'].astype(str).astype(int)
Turnovers = dataframe['Turnovers'].astype(str).astype(int)
TotalFouls = dataframe['TotalFouls'].astype(str).astype(int)

In [ ]:
new_df = pd.DataFrame({
    "Team_Number_Id": df["Team_Number_Id"],
    "TeamPoints": TeamPoints,
    "FieldGoals": FieldGoals,
    "X3PointShots": X3PointShots,
    "FreeThrows": FreeThrows,
    "OffRebounds": OffRebounds,
    "TotalRebounds": TotalRebounds,
    "Assists": Assists,
    "Steals": Steals,
    "Blocks": Blocks,
    "Turnovers": Turnovers,
    "TotalFouls": TotalFouls
})

In [ ]:
new_df.dtypes

In [ ]:
new_df.tail(10)

In [ ]:
import sklearn
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
model = LinearRegression()

X = new_df.values[:, 0]
y = new_df.values[:,1:11]

y = y.reshape(1, -1)
X = X.reshape(1, -1)

print(X.shape, y.shape)